version: '3.8'

services:
  excel-proxy:
    build: .
    container_name: excel-ai-proxy
    restart: always
    ports:
      - "8180:8080"
    environment:
      - NODE_ENV=production
      - PORT=8080
      - UPSTREAM_PROXY_HOST=168.90.196.95
      - UPSTREAM_PROXY_PORT=8000
      - UPSTREAM_PROXY_USER=Xjyc9L
      - UPSTREAM_PROXY_PASS=bEJrmk
      - NEBIUS_API_KEY=eyJhbGciOiJIUzI1NiIsImtpZCI6IlV6SXJWd1h0dnprLVRvdzlLZWstc0M1akptWXBvX1VaVkxUZlpnMDRlOFUiLCJ0eXAiOiJKV1QifQ.eyJzdWIiOiJnb29nbGUtb2F1dGgyfDEwNTYxMjg4MDQyNjAxNDQ5MzcxNiIsInNjb3BlIjoib3BlbmlkIG9mZmxpbmVfYWNjZXNzIiwiaXNzIjoiYXBpX2tleV9pc3N1ZXIiLCJhdWQiOlsiaHR0cHM6Ly9uZWJpdXMtaW5mZXJlbmNlLmV1LmF1dGgwLmNvbS9hcGkvdjIvIl0sImV4cCI6MTg5NzQ5OTg4MywidXVpZCI6IjRlMmFiMTNjLTNjZDctNGFlNS1iOTk1LWQ2MmEyMGQzZjRhZCIsIm5hbWUiOiJNdWRyZWMiLCJleHBpcmVzX2F0IjoiMjAzMC0wMi0xNlQxOToxODowMyswMDAwIn0.OqM6Xbtx2VP_HZB10i5IhsD3VQXF9wnElc69vBuVL-U
      - SERVICE_TOKEN=nG3Kep5gJbpKtbp6-1F8HAr2CcHQBUJI4BKNTYtE-WUrL8qvVW5I37zqcP4p6An-
    deploy:
      resources:
        limits:
          memory: 256M